.wrapper {
  display: flex;
  height: 100vh !important;
  overflow: hidden;
  width: 100%;
}

.sidebar {
  display: none;
}

.sidebar-top {
  height: 250px;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-link {
  text-decoration: none;
  color: #c9d6ff;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  font-family: "Saira Extra Condensed", sans-serif;
  text-align: center;
  padding-bottom: 1.2rem;
  cursor: pointer;
}

.sidebar-link:hover {
  color: white;
}

.dp {
  height: 180px;
  width: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #c9d6ff;
  cursor: pointer;
}

.dp:hover {
  border-color: white;
}

.sidebar-content {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-list {
  list-style: none;
  padding: 0;
}

.right-wrapper {
  display: flex;
  flex: 10;
  position: relative;
  overflow-y: scroll;
  flex-direction: column;
  height: 100%;
  /* background-color: rgb(15, 14, 14); */
  /* background-color: #111821; */
  /* background-image: url("design.svg");
  background-repeat: no-repeat; */
}

.about-section {
  height: auto;
  padding: 3rem 3rem 1rem 3rem;
  position: relative;
  /* overflow: hidden; */
  /* background-color: #111821; */
  background-color: #ffffff;
  /* background-color: rgb(29, 28, 28); */
}

.about-section::after {
  content: "";
  background: #000046;
  display: block;
  width: 100%;
  height: 1px;
}

.title {
  font-size: 6rem;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 700;
  margin: 3rem 0 0 0rem;
  line-height: 5.5rem;
  letter-spacing: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: #fff !important; */
  color: rgb(53, 51, 51) !important;
  font-family: "Saira Extra Condensed", sans-serif;
  margin: 0;
  letter-spacing: 3px !important;
}

.text-secondary {
  color: #fff;
}

.text-primary {
  /* color: #f00000 !important; */
  background: linear-gradient(45deg, #000046, #1cb5e0, #000046);
  /* background: -webkit-linear-gradient(45deg, #11998e, #38ef7d); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.short-bio-wrapper {
  margin: 0;
}

.short-bio {
  font-size: 1.5rem;
}

.bio-wrapper {
  margin: 0;
}

#bio {
  /* color: #fff; */
  margin-top: 1rem;
  color: rgb(53, 51, 51) !important;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-family: "Saira Extra Condensed", sans-serif;
}

.links {
  /* color: #fff; */
  color: rgb(53, 51, 51) !important;
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 0.8rem;
  width: 100%;
  /* justify-content: space-around; */
}

.link-item {
  font-size: 200%;
  cursor: pointer !important;
  z-index: 10;
  margin-right: 2rem;
}

.email-h {
  margin-top: 1rem;
  color: rgb(53, 51, 51) !important;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  font-family: "Saira Extra Condensed", sans-serif;
  margin-bottom: 2rem;
  font-style: italic;
}

.email {
  letter-spacing: 0.2rem;
}

/* 
  ******************
  EXPERIENCE SECTION
  ******************
*/

ul li a {
  display: block;
}

.experience-section {
  height: auto;
  padding: 3rem 3rem 1rem 3rem;
  /* background-color: #e9cf40; */
  /* background-color: #111821; */
  background-color: #fff;
  position: relative;
  /* overflow: hidden; */
}

.experience-section::after {
  content: "";
  background: #000046;
  display: block;
  width: 100%;
  height: 1px;
}

.section-heading {
  font-size: 2rem;
}

.work-ex-heading {
  font-weight: bolder;
  font-size: 3.2rem;
}

/* .work-ex-heading::after {
  content: "";
  height: 2px;
  display: block;
  background: black;
  width: 25%;
} */

/*experience content block*/

.experience-content-block {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.experience-content-left {
  display: flex;
  flex-direction: column;
  flex: 9;
}

.experience-heading {
}

.experience-sub-heading {
  color: rgb(173, 22, 22) !important;
  margin-bottom: 1rem;
}

.experience-info {
  margin-bottom: 1rem;
  /* color: #fff; */
  color: rgb(53, 51, 51) !important;
}

.experience-info > p {
  margin: 0;
  font-size: 1.04rem !important;
  letter-spacing: 1.5px !important;
  line-height: 1.5;
}

.experience-content-right {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.experience-dates {
  text-align: center;
  margin-bottom: 1rem;
}

.experience-company-img {
  height: 60%;
  width: 100%;
  margin-bottom: 25px;
}
.experience-company-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/**** skills list body ***/

.skills-list-body {
  margin: 2rem 0 2rem 0;
}

.skills-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
}

/**************************/

/***** EDUCATION SECTION *****/

.education-section {
  height: auto;
  padding: 3rem 3rem 1rem 3rem;
  background-color: #fff;
  position: relative;
}

.education-section::after {
  content: "";
  background: #000046;
  display: block;
  width: 100%;
  height: 1px;
}

.education-heading {
  text-transform: uppercase;
}

.education-sub-heading {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.edu-cgpa {
  font-size: 1.3rem;
}

/****** PROJECTS SECTION ******/

.projects-section {
  height: auto;
  padding: 3rem 3rem 1rem 3rem;
  /* background-color: #e9cf40; */
  /* background-color: #111821; */
  background-color: #fff;
  position: relative;
  /* overflow: hidden; */
}

.projects-section::after {
  content: "";
  background: #000046;
  display: block;
  width: 100%;
  height: 1px;
}

/******************************/

/***************************/
/****** SKILLS SECTION *****/
/***************************/

.skills-section {
  padding: 3rem 3rem 1rem 3rem;
  background-color: #fff;
  position: relative;
}

.skills-section::after {
  content: "";
  background: #000046;
  display: block;
  width: 100%;
  height: 1px;
}

.skills-heading {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.skills-subheading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  list-style: none;
}

.web {
  width: 90%;
}

.devops {
  width: 90%;
  margin-bottom: 4rem;
}

.list-item {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-family: "Saira Extra Condensed", sans-serif;
}

.item-img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.section-footer-text {
  text-align: center;
  /* font-style: italic; */
  margin-top: 5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}

/* CERTIFICATION SECTION */

.certification-section {
  padding: 3rem 3rem 1rem 3rem;
  margin-bottom: 2rem;
  background-color: #fff;
  position: relative;
}

.brand {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.brand-style {
  background: #0056d2;
  width: 7rem;
}
.brand-style-sm {
  background: #0056d2;
  height: 32.25px !important;
}

.brand-style > img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.brand-style-heading {
  margin: 0;
  margin-left: 1rem;
}
.brand-style-heading-sm {
  margin: 0;
}

/***********************************/
/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  /** toggle display of some divs ***/
  .sm-toggle {
    display: block;
  }

  .about-section {
    height: auto;
    padding: 3rem 2rem 0rem 2rem;
    position: relative;
    background-color: #ffffff;
  }

  .title {
    font-size: 4rem;
    font-family: "Saira Extra Condensed", sans-serif;
    font-weight: 700;
    margin: 3rem 0 0 0rem;
    line-height: 5rem;
    letter-spacing: 2px;
  }

  .short-bio {
    margin: 0.7rem 0 0 0;
    font-size: 1.3rem;
    font-weight: 600;
  }

  #bio {
    /* color: #fff; */
    margin: 1.5rem 0 0 0;
    color: rgb(53, 51, 51) !important;
    font-size: 1.2rem;
    font-weight: 200;
    letter-spacing: 0.1rem;
    font-family: "Saira Extra Condensed", sans-serif;
    font-style: italic;
  }

  .email-h {
    font-size: 1.1rem;
  }

  /** Work Experience section **/
  .experience-section {
    height: auto;
    padding: 2rem 2rem 0rem 2rem;
    background-color: #fff;
    position: relative;
  }

  .experience-content-block {
    display: flex;
    margin: 1rem 0 0 0;
  }

  .experience-content-left {
    display: flex;
    flex-direction: column;
  }

  .exp-header {
    display: flex;
    flex-direction: row !important;
    margin: 0 0 1rem 0;
  }

  .exp-header-left {
    flex: 70%;
  }

  .exp-header-right {
    flex: 30%;
  }

  .experience-company-img {
    /* height: inherit; */
    width: 100%;
    margin-bottom: 25px;
    margin: auto;
  }
  .experience-company-img > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .experience-heading > h1 {
    margin: 0.8rem 0 0 0;
    font-weight: 700;
  }

  .experience-sub-heading {
    margin: 0;
    margin-top: 0.5rem;
  }
  .experience-sub-heading > h2 {
    font-size: 1.2rem;
    font-style: italic;
    margin: 0;
  }

  .experience-dates-sm {
    margin: 0 0 0.5rem 0;
  }
  .experience-dates-sm > h3 {
    font-size: 1rem;
    font-style: italic;
  }

  .list-item {
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.1rem;
    font-family: "Saira Extra Condensed", sans-serif;
  }

  /*Education*/
  .education-section {
    height: auto;
    padding: 2rem 2rem 0rem 2rem;
    background-color: #fff;
    position: relative;
  }
  .education-heading {
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: capitalize;
  }
  .edu-sub-heading {
    margin-top: 0.2rem;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0;
  }
  .edu-dates-sm {
    font-style: italic;
    font-size: 1rem;
    margin: 0.4rem 0 0.2rem 0;
  }
  .edu-cgpa-sm {
    font-style: italic;
    font-size: 1rem;
    margin: 0 0 2rem 0;
  }

  /** Projects Section **/
  .projects-section {
    height: auto;
    padding: 2rem 2rem 0rem 2rem;
    background-color: #fff;
    position: relative;
  }

  /** Skill Section **/
  .skills-section {
    /* min-height: 100vh; */
    padding: 2rem 2rem 0 2rem;
    background-color: #fff;
    position: relative;
    overflow: visible;
  }

  .skills-heading {
    margin-top: 1rem;
  }

  .skills-heading > h1 {
    font-weight: 600;
  }

  .skills-subheading {
    display: flex;
    flex-direction: column;
    justify-content: flex-end !important;
    padding: 0;
    width: 100%;
    list-style: none;
  }

  .list-item {
    width: 100%;
    margin-bottom: 0.3rem;
  }

  /*Certification Section*/
  .certification-section {
    /* min-height: 100vh; */
    padding: 2rem 2rem 2rem 2rem;
    background-color: #fff;
    position: relative;
    margin-bottom: 2rem;
    overflow: visible;
  }
}

@media only screen and (min-width: 600px) {
  .sm-toggle {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .sidebar {
    padding: 0.5em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 2;
    /* background-color: #f00000 !important; */
    background: linear-gradient(45deg, #1cb5e0, #000046);
    /* background: linear-gradient(45deg, #11998e,#38ef7d); */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
