.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.art {
  position: absolute;
  z-index: 1;
  left: 50%;
  height: 50vh;
  width: 50vw;
}

.loadingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
}